<div class="about">
    <a 
        class="about-logo"
        href="{{site.url}}"
    >
        <img src="{{site.url}}/images/common/logo.jpg"/>
    </a>
    <h1>inhibitor.log</h1>
    <h2>development log</h2>
    <div class="about-links">
        <a href="https://github.com/inhibitor1217">GitHub</a>
        <span>·</span>
        <a href="{{site.url}}/1_webgl-tutorials.html">WebGL Tutorials</a>
        <span>·</span>
        <a href="{{site.url}}/2_ps-archive.html">Problem Solving</a>
        <span>·</span>
        <a href="{{site.url}}/3_devlog.html">dev.log</a>
        <span>·</span>
        <a href="{{site.url}}/4_tags.html">Tags</a>
    </div>
</div>