---
layout: default
---

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
<!-- site_tags: {{ site_tags }} -->
{% assign tag_words = site_tags | split:',' | sort %}
<!-- tag_words: {{ tag_words }} -->

<div class="post">
  <div class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
      <span class="post-date">{{ page.date | date: "%Y.%m.%d" }}</span>
      <ul class="entry-tags tag-box">
        {% for tag in page.tags %}
          <li><a href="{{ site.url }}/4_tags.html#{{ tag | cgi_escape }}">#{{ tag }}</a></li>
        {% endfor %}
      </ul>
  </div>
  <div class="post-wrapper">
    <div class="post-content">
      <ins class="adsbygoogle"
        style="display:block;margin-bottom:24px"
        data-ad-client="ca-pub-6175692800980025"
        data-ad-slot="8580911339"
        data-ad-format="horizontal"
        data-full-width-responsive="true">
      </ins>
      {{ content }}
      <ins class="adsbygoogle"
        style="display:block;margin-top:24px"
        data-ad-client="ca-pub-6175692800980025"
        data-ad-slot="7618063895"
        data-ad-format="horizontal"
        data-full-width-responsive="true">
      </ins>
    </div>
    <div>
      <div class="post-sidebar">
        <div class="post-toc">
          {% include toc.html html=content h_max=3 %}
        </div>
        <div class="post-tags">
          <span>All Tags</span>
          <ul class="tag-box">
            {% for tag in tag_words %}
              <li><a href="{{site.url}}/4_tags.html#{{ tag | cgi_escape }}">#{{ tag }} <span>{{ site.tags[tag] | size }}</span></a></li>
            {% endfor %}
            </ul>
        </div>
        <ins class="adsbygoogle"
          style="display:block;margin-top:2rem;margin-left:24px"
          data-ad-client="ca-pub-6175692800980025"
          data-ad-slot="2174165520"
          data-ad-format="vertical"
          data-full-width-responsive="true">
        </ins>
      </div>
    </div>
  </div>
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h4>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date: "%Y.%m.%d" }}</small>
          </a>
        </h4>
      </li>
    {% endfor %}
  </ul>
</div>
